<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Document</title>
    <style>
        #main{
            height: 100vh;
        }
        
    </style>
</head>
<body class="bg-black">
    <%-include('../partials/header')%>
    <div class="container m-auto " id="main">
        

        <form action="/insertData" method="post" class="bg-black border w-50 m-auto p-3   rounded-3"  enctype="multipart/form-data">

            <caption><h1 class="text-info text-center">Add your movies </h1></caption>
          
                <label class="form-check-label   mt-3" >image</label>
              <input type="file" class="form-control text-white bg-black" name="image" id="image">
            
          
                <label class="form-check-label text-white  mt-3">name</label>
              <input type="text" class="form-control text-white bg-black" name="name" placeholder="enter movie name">
            
              <label class="form-check-label text-white  mt-3">discribtion</label>
              <input type="text" class="form-control text-white bg-black" name="discribtion" placeholder="enter discribtion">


                <label class="form-check-label text-white bg-black  mt-3">Rate</label>
                <select name="Rate">
                    <option value="" class="text-white bg-black">--Select rate--</option>
                    <option value="⭐⭐⭐⭐⭐" class="bg-black">⭐⭐⭐⭐⭐</option>
                    <option value="⭐⭐⭐⭐" class="bg-black">⭐⭐⭐⭐</option>
                    <option value="⭐⭐⭐" class="bg-black">⭐⭐⭐</option>
                    <option value="⭐⭐" class="bg-black">⭐⭐</option>
                    <option value="⭐" class="bg-black">⭐</option>
                </select>
            
            
          
                <label class="form-check-label text-white bg-black  mt-3 ">Genre</label>
              
                    <select name="Genre">
                        <option value="" class="bg-black">--Select Genre--</option>
                        <option value="fiction" class="bg-black text-white">Fiction</option>
                        <option value="nonfiction " class="bg-black text-white">Non-Fiction</option>
                        <option value="fantasy " class="bg-black text-white">Fantasy</option>
                        <option value="mystery" class="bg-black text-white">Mystery</option>
                        <option value="romance " class="bg-black text-white">Romance</option>
                        <option value="thriller" class="bg-black text-white">Thriller</option>
                        <option value="science" class="bg-black text-white">Science</option>
                        <option value="biography" class="bg-black text-white">Biography</option>
                        <option value="selfhelp" class="bg-black text-white">Self-Help</option>
                    </select>
                
            
  <div class="div">
    <input type="submit" value="submit" class="btn button text-white bg-info  mt-3 "></div>
    </form>  
    <!-- footer -->
    <%-include('../partials/footer')%>

</body>
</html>